@import 'primereact/resources/themes/lara-dark-pink/theme.css';
@import 'primeicons/primeicons.css';

@layer tailwind-base, primereact, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

.brand-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.75rem;
}
.pink-text {
  color: var(--primary-color); 
}.pink-avatar {
  background-color: var(--primary-color); 
}
.carbon-text {
  color: var(--text-color-secondary); 
}

.p-button-secondary {
  border: 2px solid var(--primary-color); /* Pink border */
  border-radius: 0.5rem; /* Rounded corners */
  color: white;
  background-color: var(--surface-a); 
}

.p-button-secondary:hover {
  background-color: var(--secondary-color); /* Match hover color */
  color: white; /* White text color */
  border-color: var(--secondary-color); /* Maintain pink border color */
}

.border-primary {
  border: 2px solid var(--primary-color); /* Pink border */
  border-radius: 0.5rem; /* Rounded corners */
  background-color: var(--surface-a);
}