@import 'primereact/resources/themes/lara-dark-pink/theme.css';
@import 'primeicons/primeicons.css';

@layer primereact, tailwind-utilities;

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

.brand-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.75rem;
}
.pink-text {
  color: var(--primary-color);
}.pink-avatar {
  background-color: var(--primary-color);
}
.carbon-text {
  color: var(--text-color-secondary);
}

.p-button {
  text-decoration: none;
}

.p-button-secondary {
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  background-color: var(--surface-a);
}

.p-button-secondary:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.border-primary {
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--surface-a);
}